<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031510969032-iu21194196jqr4tj0uvdvbcaolt79tsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031510969032-iu21194196jqr4tj0uvdvbcaolt79tsq</string>
	<key>API_KEY</key>
	<string>AIzaSyAosG3X4TIYbdhYm8FAvQdddF5b-VUORK8</string>
	<key>GCM_SENDER_ID</key>
	<string>1031510969032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.advancedMobile</string>
	<key>PROJECT_ID</key>
	<string>learnenglish-fbdbd</string>
	<key>STORAGE_BUCKET</key>
	<string>learnenglish-fbdbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031510969032:ios:043de3050ef53d009bb3fd</string>
</dict>
</plist>